<a href="https://colab.research.google.com/github/ayeshasGithub/hello-world/blob/master/Feature_Engineering_Tflow_Ayesha.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Feature Engineering

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Data/LMK_WoolSales_SaleSummary.csv', encoding= 'unicode_escape')
df_big=df
df_small=df.sample(frac=0.01, random_state=1)#subset of df

### Selected variables:
We have selected 27 variables after data analysis. <br>
====> From the date related variables we have extracted month info and applied label encoder
 
====> The weight related variables are all numerical variables, we have normalized those variables between 0 and 1. <br>

====> The seller related variables are all categorical variables and also have missing values. We have 
* Adopted technique to fill those missing variables
* Applied Mean encoding and other encoding techniques (Other techniques yet to be applied)

====> The quality related variables are all numerical variables, we have standardized those variables with mean 0 and standard deviation 1. <br>



We have listed the variable names and appropriate encoding techniques applied on those variables below:<br>
* Weight related variables: 'NetWeight' -> <font color='blue'> Encoding Technique: Normalization<br></font>
* Date related variables: 'SaleDate' -> <font color='blue'> Encoding Technique: Label encoder</font><br>
* Seller variables: 'SaleNbrSellingCntr', 'Brand','StandardBaleDesc', 'Region','Division', 'Branch','WAM','Agent' -> <font color='blue'> Encoding Technique: Mean encoder</font><br>
* Quatility variables: 'Micron','Curvature','VMB','Yield1','FolioProceed','FDMean','FDCOEfficient','FDComfort', 'StapleLength','StapleLengthCV',StapleStrength','StapleStrengthLowest25', 'TheoreticalHauteur', 'TheoreticalHauteurCV', 'PositionofBreakTip','PositionofBreakMiddle',PositionofBreakBase' -> <font color='blue'>Encoding technique: Standardization </font><br>

In [ ]:
#weight variables:
features_w=['NetWeight']#from all the weights only using net weight since others are correlated

#date variables:
features_d=['SaleDate']


#seller variables:
features_c_1=['SaleNbrSellingCntr', 'Brand','StandardBaleDesc']
features_c_2=['Region','Division','Branch','WAM','Agent']

#quality variables: 
features_q_1 = ['Micron','Curvature','VMB','Yield1','FolioProceed']
features_q_2=['FDMean','FDCOEfficient','FDComfort']
features_q_3=['StapleLength','StapleLengthCV','StapleStrength','StapleStrengthLowest25']
features_q_4=['TheoreticalHauteur','TheoreticalHauteurCV']
features_q_5=['PositionofBreakTip','PositionofBreakMiddle','PositionofBreakBase']

#result variables(sold or not sold?):
features_r=['SaleOutcome']

#target variable:
label=['SalePrice']
target=['SalePrice']

#X = df[features]
#y=df[label]



### Weight variable

In [ ]:
features_w=['NetWeight']

#create dataframe
df_w=df.loc[:,features_w]

#import libraries
import pandas as pd
from sklearn import preprocessing

#normalization function
def scaleColumns(df, cols_to_scale):
    min_max_scaler = preprocessing.MinMaxScaler()
    for col in cols_to_scale:
        
        df[col] = pd.DataFrame(min_max_scaler.fit_transform(pd.DataFrame(df[col])),columns=[col])
    return df



#apply normalization
df_w=scaleColumns(df_w,features_w)
print(df_w)

        NetWeight
0        0.101094
1        0.065628
2        0.086178
3        0.070103
4        0.047232
...           ...
632966   0.225721
632967   0.212794
632968   0.079881
632969   0.330295
632970   0.169042

[632971 rows x 1 columns]

### Date variable

In [ ]:
features_d=['SaleDate']

#create view
df_date=df.loc[:,features_d]



#import libraries
import pandas as pd
from sklearn import preprocessing
import datetime

#extract month column
df_date = df_date.astype("datetime64")
df_date['Month']=df_date['SaleDate'].dt.month
print(df_date.head())


#apply label encoder: deal month as a categorical variable, if only the number is used then the model would give the most importance to 12
le = preprocessing.LabelEncoder()
encoded=le.fit_transform(df_date['Month'].astype(str))
#print(type(encoded))
df_date['Month_enc'] = pd.DataFrame({'Month_enc': encoded})
print(df_date.head(5))
#'''

    SaleDate  Month
0 2019-10-31     10
1 2019-10-31     10
2 2019-10-31     10
3 2019-10-31     10
4 2019-10-31     10
    SaleDate  Month  Month_enc
0 2019-10-31     10          1
1 2019-10-31     10          1
2 2019-10-31     10          1
3 2019-10-31     10          1
4 2019-10-31     10          1

### Seller variables (Categorical and with missing rows)

In [ ]:
features_c_1=['SaleNbrSellingCntr','StandardBaleDesc']
features_c_2=['Brand','Region','Division','Branch','WAM','Agent']
features_c=features_c_1+features_c_2

#create view
df_c=df.loc[:,features_c]

#import libraries
import pandas as pd
from sklearn import preprocessing


#replace missing values
#replace Brand
df_c['Brand'].fillna('DAL/A')#replaced missing values with most frequent one
#replace Region,Division,Branch,WAM,Agent
df_c.fillna('Any')#replaced missing values with any


#ENCODING TECHNIQUES TO BE APPLIED

       SaleNbrSellingCntr StandardBaleDesc  ...            WAM              Agent
0                       S             AAAM  ...  NICKY  SYMONS  BP24-BRAD NEWSOME
1                       S             MBKN  ...  NICKY  SYMONS  BP24-BRAD NEWSOME
2                       S              AAM  ...  NICKY  SYMONS  BP24-BRAD NEWSOME
3                       S             AAAM  ...  NICKY  SYMONS  BP24-BRAD NEWSOME
4                       S             AAAM  ...  NICKY  SYMONS  BP24-BRAD NEWSOME
...                   ...              ...  ...            ...                ...
632966                  F             AAAM  ...   Warren  HOLT                Any
632967                  F             AAAM  ...   Warren  HOLT                Any
632968                  F             AAAM  ...   Warren  HOLT                Any
632969                  F             AAAM  ...   Warren  HOLT                Any
632970                  F             AAAM  ...   Warren  HOLT                Any

[632971 rows x 8 columns]

### Quality variables (Numerical)

In [ ]:
features_q_1 = ['Micron','Curvature','VMB','Yield1','FolioProceeds']
features_q_2=['FDMean','FDCOEfficient','FDComfort']
features_q_3=['StapleLength','StapleLengthCV','StapleStrength','StapleStrengthLowest25']
features_q_4=['TheoreticalHauteur','TheoreticalHauteurCV']
features_q_5=['PositionofBreakTip','PositionofBreakMiddle','PositionofBreakBase']

features_q=features_q_1+features_q_2+features_q_3+features_q_4+features_q_5


#create view
df_q=df.loc[:,features_q]



#import libraries
import pandas as pd
from sklearn.preprocessing import StandardScaler


#standardization function
def standardColumns(df, cols_to_scale):
    scaler=StandardScaler()
    for col in cols_to_scale:
        
        df[col] = pd.DataFrame(scaler.fit_transform(pd.DataFrame(df[col])),columns=[col])
    return df


#apply standardization technique
df_q=standardColumns(df_q,features_q)

print(df_q.head(6))

     Micron  Curvature  ...  PositionofBreakMiddle  PositionofBreakBase
0 -0.006821   0.965250  ...               0.486539             1.652904
1 -0.006821   1.073006  ...               0.621664             0.418474
2 -0.006821   1.073006  ...              -1.067393            -0.724517
3 -0.006821   1.611789  ...               2.040471            -0.724517
4 -0.006821   1.073006  ...               1.195943             0.281315
5 -0.006821   1.073006  ...               0.520320             1.195707

[6 rows x 17 columns]